[submodule "circuit/cppcuit/submodules/flatbuffers"]
	path = circuit/cppcuit/submodules/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "circuit/cppcuit/submodules/abseil-cpp"]
	path = circuit/cppcuit/submodules/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "circuit/cppcuit/submodules/scelta"]
	path = circuit/cppcuit/submodules/scelta
	url = git@github.com:vittorioromeo/scelta.git
